################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FridayQuiz/QuizeJuly062018/.vs/QuizeJuly062018/v15
/FridayQuiz/QuizeJuly062018/bin/Debug
/FridayQuiz/QuizeJuly062018/obj/Debug
/FullStackSolution/.vs/FullStackSolution/DesignTimeBuild
/Interview/Ericsson/AsyncAwait/bin/Debug
/Interview/Ericsson/AsyncAwait/obj/Debug
/Interview/Ericsson/ConsoleAppOne/bin/Debug
/Interview/Ericsson/ConsoleAppOne/obj/Debug
/Interview/Ericsson/packages
/TechTalk/SOLIDPrinciples/.vs/SOLIDPrinciples
/TechTalk/SOLIDPrinciples/LiskovSub/bin/Debug
/TechTalk/SOLIDPrinciples/LiskovSub/obj/Debug
/TechTalk/SOLIDPrinciples/packages
/TechTalk/SOLIDPrinciples/SOLIDExamples/obj/Debug
/TechTalk/SOLIDPrinciples/UnitTestProject1/bin/Debug
/TechTalk/SOLIDPrinciples/UnitTestProject1/obj/Debug
/Interview/Ericsson/.vs/Ericsson/v15/Server/sqlite3
/Interview/Ericsson/.vs/Ericsson/v15
/Interview/Ericsson/.vs/AlgorithmsAndDataStructures/v15
/AspNetIdentityProject/.vs/AspNetIdentityProject/v15
/AspNetIdentityProject/packages
/AspNetIdentityProject/SimpleAspNetIdentity/bin/Debug
/AspNetIdentityProject/SimpleAspNetIdentity/obj/Debug
/FridayQuiz/Quiz27July/.vs/Quiz27July/v15
/FridayQuiz/Quiz27July/bin/Debug
/FridayQuiz/Quiz27July/obj/Debug
/Interview/AlgorithmsAndDataStructures/.vs/AlgorithmsAndDataStructures
/Interview/AlgorithmsAndDataStructures/AsyncAwait/bin/Debug
/Interview/AlgorithmsAndDataStructures/AsyncAwait/obj/Debug
/Interview/AlgorithmsAndDataStructures/ConsoleAppOne/bin/Debug
/Interview/AlgorithmsAndDataStructures/ConsoleAppOne/obj/Debug
/Interview/AlgorithmsAndDataStructures/packages
/ASP.NETCore/SampleWebApiSol/.vs
/ASP.NETCore/SampleWebApiSol/packages
/ASP.NETCore/SampleWebApiSol/sampleWebApiClassic/bin
/ASP.NETCore/SampleWebApiSol/sampleWebApiClassic/obj/Debug
/ASP.NETCore/SampleWebApiSol/sampleWebApiClassic/sampleWebApiClassic.csproj.user
/ASP.NETCore/SampleWebApiSol/SampleWebApiSol/bin/Debug/netcoreapp2.0
/ASP.NETCore/SampleWebApiSol/SampleWebApiSol/obj
/FullStackSolution/FullStack.Dacpac/obj/Debug
/Hackathon/HackathonSample/.vs/HackathonSample
/Hackathon/HackathonSample/TakeSnapshot/bin/x86/Debug
/Hackathon/HackathonSample/TakeSnapshot/obj
/Hackathon/HackathonSample/TakeSnapshotWinApp/obj/Debug
/ImageTrainingApp/.vs
/ImageTrainingApp/ImageTrainingApp/bin
/ImageTrainingApp/ImageTrainingApp/obj/Debug
/ImageTrainingApp/packages
/ImageTrainingApp/ImageTrainApp/bin
/ImageProcessor/.vs
/ImageProcessor/ImgToTextLambda/bin/Debug/netcoreapp2.0
/ImageProcessor/ImgToTextLambda/obj
/ImageProcessor/ImgToTextLambda.Tests/bin/Debug/netcoreapp2.0
/ImageProcessor/ImgToTextLambda.Tests/obj
/ImageProcessor/ImgToTextLambda/bin/Release/netcoreapp2.0
/IoTPart/.vs/IoTPart/v15
/IoTPart/CaptureImage/__pycache__
