<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="CustomSection" requirePermission="false" type="ConfManager.CustomSection, ConfManager"/>
    <section name="FieldMapping" requirePermission="false" type="ConfManager.FieldMapping, ConfManager"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="Name" value="Manik"/>
  </appSettings>
  <CustomSection TestPropertyName="This is test property value" Location="Pune">
  </CustomSection>
  <FieldMapping>
    <xVelocity>
      <Field Id="101" Description="Field 101" MappedTo="LoanAmount" />
      <Field Id="102" Description="Field 102" MappedTo="LoanType" />
      <Field Id="103" Description="Field 103" MappedTo="LoanTerm" />
    </xVelocity>
  </FieldMapping>
</configuration>