<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="CustomSection" requirePermission="false" type="ConfManager.CustomSection, ConfManager"/>
  </configSections>
  <appSettings>
    <add key="Name" value="Manik"/>
  </appSettings>
  <CustomSection TestPropertyName="This is test property value" Location="Pune">
  </CustomSection>
</configuration>