<!--Template driven forms -->
<form #userForm = "ngForm" (ngSubmit) = "onSubmit(userForm.value)" class="formStyle">
  <input type="text" name="firstName" placeholder="First Name" ngModel><br>
  <input type="text" name="lastName" placeholder="Last Name" ngModel><br>
  <select name="languages" ngModel aria-placeholder="Select Language">
    <option value="C#">C#</option>
    <option value="Java">Java</option>
    <option value="JavaScript">JavaScript</option>
  </select>
  <br><br>
  <button class="buttonGreen" type="submit">Submit</button>
</form>

<!--Model driven forms -->
<form [formGroup] = "form" (ngSubmit) = "onSubmit(form.value)" class="formStyle">
  <input type="text" name="firstName" placeholder="First Name" formControlName="firstname"><br>
  <input type="text" name="lastName" placeholder="Last Name" formControlName="lastname"><br>
  <select name="languages" formControlName="languages" aria-placeholder="Select Language">
    <option value="C#">C#</option>
    <option value="Java">Java</option>
    <option value="JavaScript">JavaScript</option>
  </select>
  <br><br>
  <button class="buttonRed" type="submit">Submit</button>
</form>